{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Category Page</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose your favorite category</p>
        </div>
    </div>
</header>

  <div class="container">
    <div class="row">
        <div class="col-8" style="margin-left: 20em;">
            <br>
            <br>
            <p>
                {% for category in categories %}
                <h3><a href="{% url 'category' category %}">{{ category }}</a></h3>
                {% endfor %}
            </p>
            
        </div>
    </div>
  </div>
<br>
<br>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}